
<section class="content">

	<ol class="breadcrumb">
		<li class="active"><i class="fa fa-home fa-fw"></i> Account</li>
	</ol>

	<div class="header">
		<div class="col-md-12">
			<h3 class="header-title">Login Failure</h3>
			<p class="header-info">Overview and latest statistics</p>
		</div>
	</div>

	<!-- CONTENT -->
	<div class="main-content">

		<div class="row">

			<div class="col-md-12">
				<h3 class="text-error">Unsuccessful login with service.</h3>
			</div>
		</div>
	</div>
</section>